.card {
  border-radius: 10px;
  background-color: #ffebc8;
  border: 0px;
  border-style: none;
  border-color: #60606060;
  backdrop-filter: blur(5px);
  padding: 0px;
}
.cardImage {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.cardInfo {
  font-weight: 600;
  font-size: 2rem;
  padding: 1rem;
  color: #112328;
  font-family: "DM Sans", sans-serif;
  text-align: left;
}
.cardDescription {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
