@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,400;1,9..40,200&display=swap");

.App {
  /* App Container Styles */
  font-family: "DM Sans", sans-serif;
}

.screenContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
}

.pageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homerowContainer {
  width: 100%;
  height: auto;
}

.homerowContainer {
  width: 100%;
  height: auto;
  background-color: #00000000;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.homerowIcon {
  width: 2rem;
  height: 2rem;
  filter: invert(100%);
}
